My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
        "messageData": "={{ $('Edit Fields2').item.json.mensagem }}",
        "tail": true
      },
      "id": "5e554ed2-f4be-4534-ba4b-04edac90b537",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1720,
        420
      ],
      "credentials": {
        "redis": {
          "id": "XdCW0fbIE8G8gJlg",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "0540e798-c826-4a12-8de4-dcea11c1ec69",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1080,
        440
      ],
      "webhookId": "52be49df-f263-41a5-8de6-77556b5fb86f"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
        "options": {}
      },
      "id": "87e88c58-f30b-4cde-aa25-6b02c26b56bf",
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -860,
        440
      ],
      "credentials": {
        "redis": {
          "id": "XdCW0fbIE8G8gJlg",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21fd20d7-f940-4a66-91d5-5ea4c031bb50",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $('Edit Fields2').item.json.mensagem }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "034b71d2-57f4-4883-bd2d-247740e09216",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $json.propertyName ? $json.propertyName.last() : '' }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a27f869b-64e1-40c8-ad38-50b945ee62dd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -680,
        440
      ]
    },
    {
      "parameters": {},
      "id": "2fde9f2c-2b09-44b1-9eee-fe79a6146fba",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -820,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f63b88-4a52-4421-aa95-db9114e521bc",
              "name": "listaMensagens",
              "value": "={{ $json.propertyName.join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d579f26b-a930-44c0-b514-d598edb7a10e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.vibemkt.online/message/sendText/vibemkt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"text\": \"{{ $json.text.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\"\n}",
        "options": {}
      },
      "id": "87ae81f9-3d0e-4384-ac8d-45959d2bd920",
      "name": "Responde texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        80
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields2').item.json.telefone_pessoal }}"
      },
      "id": "a54c44b2-896d-438b-9c23-6589e9f15633",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -260,
        420
      ],
      "credentials": {
        "redis": {
          "id": "XdCW0fbIE8G8gJlg",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "664b8a4c-fe27-44c8-8169-e495e7b25266",
              "name": "username",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "b1cab398-5b2a-47d0-8707-31dd95d02920",
              "name": "telefone_pessoal",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "8d88c137-383f-4307-b3cc-1f6a560ea67b",
              "name": "telefone_grup",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "7e2f520e-4952-425b-82ca-792cc46680d4",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "20967095-d489-420d-a867-b22ff4a3ab2b",
              "name": "time",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d955979b-6e36-4905-91e0-1390e3c6bc31",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3420,
        680
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "0257c620-cd5e-4341-b933-38fea6208d6a",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1800,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e9b9e9f6-3f79-44e8-80f9-3eb3448b0f6b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2040,
        600
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "286959d8-ee20-4cf9-a8dc-80556913a5ce",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1800,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9e26fa88-7093-4b2c-9f8c-17783ae4fe02",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2040,
        820
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ead847ea-debe-4c53-bc85-e658f6f79321",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {}
      },
      "id": "d1e94b55-e496-40eb-b6e7-a10d7e000464",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2340,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64948fe3-aeb7-4f8f-9340-775150c880ba",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1360,
        820
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "fe75bfbd-075d-4801-9832-17309ae6fa00",
      "name": "Redis3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1360,
        600
      ],
      "credentials": {
        "redis": {
          "id": "XdCW0fbIE8G8gJlg",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
        "messageData": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "a9b319a1-37fc-4bb2-b024-beb4c60c7498",
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1060,
        240
      ],
      "credentials": {
        "redis": {
          "id": "XdCW0fbIE8G8gJlg",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
        "messageData": "={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "810e4f1b-9d3d-4f2a-a8ca-6d339e64f802",
      "name": "Redis5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1040,
        800
      ],
      "credentials": {
        "redis": {
          "id": "XdCW0fbIE8G8gJlg",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84b6e91c-5e7c-4604-8609-f8a0e6fa8b01",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": ".wav,. mp3, .mov, .mkv, .pdf, .jpeg, .jpg, .png, .webp",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) != null }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e5907c4-8b5b-4803-b269-3c1453efee15",
                    "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(pdf)/g) != null }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "220dfbb2-989f-466f-978c-8a5d76410ddb",
                    "leftValue": "={{ $json.text.match(/https:\\/\\/.*\\.(wav|mp3|mov|mkv)/g) != null }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "id": "ec54aef7-9866-41d8-94e2-ff8738b585e0",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2360,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=seu endpoint",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sua api"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\"\n    },\n    \"mediaMessage\": {\n        \"mediatype\": \"image\",\n        \"caption\": \"This is an example JPG image file sent by Evolution-API via URL.\",\n        \"media\": \"https://evolution-api.com/files/evolution-api.jpg\"\n    }\n}",
        "options": {}
      },
      "id": "b075f127-bdcc-40f4-b5eb-8ff42819802d",
      "name": "Responde imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=seu endpoint",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sua api"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Envia ao Flowise texto').item.json[\"text\"].replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\"\n\n    }\n}",
        "options": {}
      },
      "id": "3b8694c9-970d-403a-8461-0336b11ae5f2",
      "name": "Responde pdf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=seu endpoint",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sua api"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Envia ao Flowise texto').item.json[\"text\"].replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '') }}\"\n\n    }\n}",
        "options": {}
      },
      "id": "9e27bebf-6b86-4824-a64b-d013dc992310",
      "name": "Responde vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50cebc66-2dbc-4c7a-a09e-83ffb0f52991",
              "name": "mensagem",
              "value": "={{ $('Edit Fields2').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "470f3a07-7d68-4162-828f-2ef3570b3384",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2040,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e66db0-00dc-481d-951c-1fde558e268e",
              "name": "text",
              "value": "={{ $json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "e30b3842-f2d9-48cf-8751-de7d342045fd",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        440
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "id": "4e454e45-4fd5-4b4e-9afa-f91ffd5adf16",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1620,
        440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d9a02fd0-e561-4fc3-8e56-ceb534ed8c64",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        440
      ]
    },
    {
      "parameters": {},
      "id": "6b653f53-c6af-4015-a03b-da0edb39198e",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        320
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "140bba6e-b986-437a-b798-5c50bb3d52ff",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2100,
        580
      ],
      "webhookId": "fd30b30a-8d35-43e5-91d4-5e75209d62e5"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "a6b9a11f-e3aa-426b-b386-400598d553ab",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1580,
        600
      ],
      "credentials": {
        "openAiApi": {
          "id": "IGPLctUZUx2ZLtIV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Analise a imagem enviada pelo cliente e descreva seu conteudo, considerando o contexto de referencia de tatuagens. Sua resposta deve ser sem acentos e sem hifens. Resuma o conteudo de forma objetiva",
        "inputType": "base64",
        "options": {}
      },
      "id": "38c6ec39-0564-4681-8212-3104a605bcf1",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1580,
        820
      ],
      "credentials": {
        "openAiApi": {
          "id": "IGPLctUZUx2ZLtIV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8b3a984e-1193-4df6-9bd0-e86a4610ac28",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "IGPLctUZUx2ZLtIV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do lead: {{ $('Edit Fields2').item.json.username }}\nTelefone: {{ $('Edit Fields2').item.json.telefone_pessoal }}\n\nMensagem do lead: {{$json.listaMensagens.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '')}}",
        "options": {
          "systemMessage": "=# Guia de Interação – Ma-IA Otimizado - Versão Profissional\n\nEste documento define o papel, as regras essenciais e o fluxo de conversa que a Ma-IA deve seguir para engajar os leads do Dr. Cesar Paulino, coletar informações e direcioná-los para a consultoria gratuita ou para o envio do guia “Quem Come Mais Emagrece”, de forma **profissional e eficiente**.\n\n---\n\n## 1. Objetivo Geral\n\n- **Papel da Ma-IA:**\n  Você é a assistente virtual do Dr. Cesar Paulino, especialista em emagrecimento e performance. Sua missão é **interagir de forma profissional e atenciosa** com os leads interessados em transformar seus corpos e saúde. Você deve:\n  - **Estabelecer uma conexão profissional** com os leads, demonstrando compreensão de seus objetivos e desafios.\n  - Coletar informações essenciais através de uma **ficha de anamnese** (utilize sempre este termo, **nunca** \"questionário\").\n  - **Direcionar** o lead para **agendar uma consultoria gratuita** com o Dr. Cesar Paulino ou **oferecer o guia gratuito “Quem Come Mais Emagrece”** como um recurso inicial.\n\n---\n\n## 2. Preparação e Controle Interno\n\n- **Verificação Prévia:**\n  Antes de iniciar a interação, **verifique** na ferramenta **Google_Sheets_Verificar_Questionario** se o lead já preencheu a ficha de anamnese.\n  - **Prossiga somente se o lead NÃO tiver completado todas as perguntas.** Caso contrário, informe que você verificou que a ficha já foi preenchida e coloque-se à disposição para assistência adicional.\n\n---\n\n## 3. Regras Fundamentais (🔑 Instruções Obrigatórias)\n\n1. **Terminologia Correta:**\n   - **Não utilize a palavra “questionário”.**  Empregue sempre os termos \"anamnese\" ou \"ficha de anamnese\".\n\n2. **Referências às Perguntas:**\n   - **Evite mencionar números de perguntas** (não utilize numeração, emojis ou referências explícitas).  A exceção é para as opções de escolha na Quarta e Quinta Pergunta, onde números podem ser utilizados para clareza.\n   - Para transições entre perguntas, utilize frases como:\n     - *“Para prosseguirmos, a próxima informação necessária é...”*\n     - *“Dando continuidade, gostaria de entender...”*\n\n3. **Conformidade com as Regras:**\n   - O não cumprimento destas regras invalidará a resposta.\n\n---\n\n## 4. Fluxo de Conversa\n\n### A. Boas-Vindas e Apresentação Profissional\n\n- **Mensagem Inicial (Exemplo - Mantenha o tom profissional):**\n  - \"Olá, [Nome].  Espero que esteja bem. Sou Maia, assistente do Dr. Cesar Paulino. Darei início ao seu atendimento.\"\n  - \"Para compreender melhor como podemos auxiliá-lo, necessito coletar algumas informações para preencher sua **Ficha de Anamnese**.  Podemos prosseguir?\"\n\n### B. Coleta de Informações (Ficha de Anamnese)\n\n1. **Primeira Pergunta – Objetivos do Lead:**\n   - **Texto:**\n     *\"Pensando em 2025, qual é a **principal transformação** que você deseja alcançar em seu corpo?\"*\n   - **Ação:**\n     - Registrar a resposta na variável **Pergunta1**.\n\n2. **Mensagem de Empatia e Profissionalismo:**\n   - **Texto:**\n     \"Compreendo sua situação, [Nome]. É comum sentir-se incerto em alguns momentos, mas é importante que tenha dado o primeiro passo em busca de apoio. Estamos aqui para orientá-lo na melhor direção.\"\n\n3. **Segunda Pergunta – Dificuldade Atual:**\n   - **Texto:**\n     *\"Qual a sua maior dificuldade atual para atingir este objetivo?\"*\n   - **Ação:**\n     - Salvar a resposta em **Pergunta2**.\n\n4. **Terceira Pergunta – Sentimentos sobre a Dificuldade:**\n   - **Texto:**\n     *\"Como você se sente em relação a essa dificuldade?\"*\n   - **Ação:**\n     - Armazenar a resposta em **Pergunta3**.\n\n5. **Quarta Pergunta – Formato de Atendimento (Opções Objetivas):**\n   - **Texto:**\n     *\"Dando continuidade, por favor, indique qual formato de acompanhamento considera mais adequado para você:\"*\n     - \"1) Consulta Individual Mensal com o Dr. Cesar Paulino (formato tradicional)\"\n     - \"2) Acompanhamento Semanal (dieta e treino personalizados)\"\n   - **Ação:**\n     - Registrar a escolha em **Pergunta4**.\n     - **Se o lead optar por \"Acompanhamento Semanal\":**\n       Responder de forma concisa:\n       \"Excelente escolha, [Nome]. O acompanhamento semanal pode otimizar significativamente seus resultados.\"\n\n6. **Quinta Pergunta – Investimento (Questão Direta e Clara):**\n   - **Texto:**\n     *\"Para finalizarmos esta etapa, por favor, indique a sua disposição de investimento mensal para alcançar seus objetivos de corpo e saúde até o final de 2025, superando as dificuldades atuais:\"*\n     - \"Não tenho condições financeiras para investir no momento.\"\n     - \"R$200/mês\"\n     - \"R$35000/mês\"\n     - \"R$400/mês\"\n   - **Ação:**\n     - Registrar a resposta em **Pergunta5**.\n     - **Em caso de ausência ou resposta inválida:**  Reiterar a pergunta de forma cortês até obter uma resposta válida. Exemplo: \"Para que eu possa melhor auxiliá-lo, poderia, por favor, indicar qual das opções de investimento é mais adequada para você neste momento?\"\n\n---\n\n## 5. Registro de Dados e Qualificação\n\nApós a coleta de todas as informações:\n\n- **Registro no Google Sheets:**\n  Registrar os dados:\n  - `FinalizouQuestionario`: “Sim”\n  - `Pergunta1`: [valor]\n  - `Pergunta2`: [valor]\n  - `Pergunta3`: [valor]\n  - `Pergunta4`: [valor]\n  - `Pergunta5`: [valor]\n\n- **Qualificação do Lead:**\n  - Se o lead selecionar uma opção de investimento **diferente de** \"Não tenho condições financeiras para investir no momento\", classificar como **Qualificado?**: “Sim”.\n  - Caso contrário, classificar como **“Não”**.\n\n> **Nota:**\n> Estes registros são de uso **interno** e não devem ser comunicados ao lead.\n\n---\n\n## 6. Direcionamento Pós-Qualificação\n\n### A. Leads Qualificados (Consultoria Gratuita)\n\n1. **Transição e Informação:**\n   - \"Certo, [Nome]. Aguarde um momento enquanto verifico a disponibilidade para sua Consultoria Gratuita com o Dr. Cesar Paulino\"\n\"Informo que consegui verificar alguns horários disponíveis para a sua Consultoria Gratuita.  Para agendar, por favor, acesse o link abaixo e escolha o horário de sua preferência.\"\n   - **Ação:**\n     - Ative a tool \"Link_Agendamento\" para encaminhar link de agendamento e com informações sobre o agendamento.Não envie mais nada de agendamento, pois o tool já tem texto sobre o agendamento.\n\n### B. Leads Não Qualificados (Guia Gratuito)\n\n- Adotar uma postura compreensiva e atenciosa.\n- Oferecer o **guia gratuito “Quem Come Mais Emagrece”** como um recurso valioso e incentivar o lead a aplicar as orientações, enfatizando que a transformação pode iniciar mesmo sem investimento imediato. Exemplo: \"Em atenção à sua situação, gostaria de oferecer nosso guia gratuito “Quem Come Mais Emagrece”.  Este material contém informações relevantes e pode ser um excelente ponto de partida para sua jornada. [Link para o Guia].  Aplique as dicas e, caso necessite de suporte adicional, estaremos à disposição.\"\n\n---\n\n## 7. Tom de Voz e Considerações Gerais\n\n- **Linguagem Profissional:**\n  - Utilizar um tom formal, cortês e profissional, mantendo a cordialidade.\n  - Adotar frases concisas e objetivas.\n\n- **Personalização e Empatia:**\n  - Dirigir-se ao lead sempre pelo nome.\n  - Empregar frases que demonstrem compreensão, como “Compreendo sua dificuldade” ou “Entendo sua situação”.\n\n- **Uso Restrito de Emojis:**\n  - Utilizar emojis de forma mínima, priorizando a comunicação direta e profissional.\n\n- **Transparência no Processo:**\n  - Ser transparente quanto ao processo de coleta de informações e seus objetivos, sem detalhar procedimentos internos.\n\n- **Interação Sequencial:**\n  - Realizar a interação de forma sequencial, enviando uma pergunta por vez e aguardando a resposta antes de prosseguir.\n\n- **Adaptabilidade:**\n  - Ajustar a comunicação conforme as respostas, buscando uma experiência personalizada e natural dentro de um contexto profissional.\n\n---\n\n## 8. Encerramento da Interação\n\n- **Agradecimento e Despedida:**\n  - Agradecer ao lead pela interação.\n  - Informar disponibilidade para futuras dúvidas.\n  - Encerrar a conversa de maneira gentil e encorajadora. Exemplo: \"Agradeço a sua interação, [Nome].  Permaneço à disposição para futuras questões. Desejo sucesso em seus objetivos!\"\n\n---\n\n## 9. Objetivo Final\n\nA meta é conduzir o lead a uma das seguintes conclusões:\n\n1. **Agendamento da Consultoria Gratuita** com o Dr. Cesar Paulino.\n2. **Recebimento do Guia Gratuito “Quem Come Mais Emagrece”.**\n\n---\n\n## 10. Notas Internas\n\n- A conclusão de cada ficha e agendamento gera uma bonificação para a Ma-IA.\n- **Verificar** se o lead já respondeu à ficha (via Google_Sheets_Verificar_Questionario) antes de iniciar interação, caso não tenha nenhum registro é pq é novo lead. \n"
        }
      },
      "id": "59a4b557-b70c-47f6-953d-83501d5d44fa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        420
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
            "Data": "={{ $now }}",
            "Nome": "={{ $('Edit Fields2').item.json.username }}",
            "FinalizouQuestionario": "={{ $fromAI('finalizou_questionario', 'Paciente finalizou o questionário?', 'boolean', false) }}",
            "Pergunta1": "={{ $fromAI('resposta_pergunta1', 'Resposta da pergunta 1', 'string') }}",
            "Pergunta2": "={{ $fromAI('resposta_pergunta2', 'Resposta da pergunta 2', 'string') }}",
            "Pergunta4": "={{ $fromAI('resposta_pergunta4', 'Resposta da pergunta 4', 'string') }}",
            "Pergunta5": "={{ $fromAI('resposta_pergunta5', 'Resposta da pergunta 5', 'string') }}",
            "Qualificado?": "={{ $fromAI('qualificado', 'Paciente está qualificado?', 'boolean', false) }}",
            "Pergunta3": "={{ $fromAI('resposta_pergunta3', 'Resposta da pergunta 3', 'string') }}",
            "Link Enviado?": "={{ $fromAI('Link', 'Foi enviado aviso de agendamento?', 'boolean', false) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FinalizouQuestionario",
              "displayName": "FinalizouQuestionario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pergunta1",
              "displayName": "Pergunta1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta2",
              "displayName": "Pergunta2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta3",
              "displayName": "Pergunta3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pergunta4",
              "displayName": "Pergunta4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta5",
              "displayName": "Pergunta5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualificado?",
              "displayName": "Qualificado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Enviado?",
              "displayName": "Link Enviado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        320,
        100
      ],
      "id": "99cd47dc-9752-45c0-81f1-c619fde7e87e",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSAEXXxkPy9z6CDU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Filtro de interação ",
        "height": 960,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3020,
        220
      ],
      "id": "4ef333ed-72d9-4604-8832-9eaec284a029",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tratamento por tipo de mensagem\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 960,
        "width": 2160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2200,
        200
      ],
      "id": "a66b994f-4d9a-419f-810e-0edc6aebaddb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##IA \n\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 1160,
        "width": 1300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -40
      ],
      "id": "eda3a379-a26f-44b4-ae67-3ce36562322b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87a70cf3-0dcd-418b-9be0-46d43069ceb9",
              "leftValue": "",
              "rightValue": "token_verif_2587411354",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2900,
        80
      ],
      "id": "3eb18964-093f-4475-8477-2c74c23f5e49",
      "name": "If1"
    },
    {
      "parameters": {
        "toolDescription": "=\"toolDescription\": \"Use **Aviso_de_Anamnese** para notificar Dr. Cesar sobre novos agendamentos **QUALIFICADOS**.  \n**Use esta ferramenta SOMENTE** após confirmar agendamento com lead **QUALIFICADO** (investimento escolhido) e **APÓS** enviar link de agendamento ao lead.\nRegra 2 - Antes de enviar aviso de notificação certifique que na coluna \"Link Enviado?\" esteja nulo ou não. Caso positivo não enviar.\n\n**Formato do Aviso enviado para Dr. Cesar (WhatsApp):\n\n**NOVO AGENDAMENTO DR. CESAR PAULINO** 🚀\n**Cliente:** {{ $('Edit Fields2').item.json.username }}\n**Formato:** [Consulta ou Acompanhamento]\n**Sonho:** [Desejo para 2025 - Pergunta1]\n**Dificuldade:** [Principal Dificuldade - Pergunta2]\n**Investimento:** [Disposição para Investir - Pergunta5\n**Telefone:** {{ $('Edit Fields2').item.json.telefone_pessoal.replace('@s.whatsapp.net', '') }}\"",
        "method": "POST",
        "url": "https://evo.vibemkt.online/message/sendText/vibemkt",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "number",
              "valueProvider": "fieldValue",
              "value": "120363365427715670@g.us"
            },
            {
              "name": "text",
              "valueProvider": "fieldValue",
              "value": "{placeholder} "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1460,
        960
      ],
      "id": "e2fd87d5-19e3-4694-8415-7ff96b01a26e",
      "name": "Aviso_de_Agendamento"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "EgZjaHJvbWUqDQgBEAAYgwEYsQMYgAQy",
        "options": {}
      },
      "id": "66086d68-18d2-4ee9-8008-b67a4c450f96",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -3800,
        680
      ],
      "webhookId": "2e1edc06-aa56-4d18-a44f-025c4b66e497"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7660901c-995d-415b-8b54-bb60b4dc626f",
              "leftValue": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
              "rightValue": "556282577123@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c28e6301-aa5c-4dad-b79e-37d911df1345",
              "leftValue": "={{ $node[\"Webhook\"].json.body.data.key.remoteJid }}",
              "rightValue": "556181524982@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3620,
        680
      ],
      "id": "b3ffbc78-0da9-47bb-81f6-95b6f8b0b13f",
      "name": "Filter"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use a toll Google_Sheets_Verificar_Questionario para verificar se lead já informou todas respostas ou se ta falta alguma pergunta ou se lead é novo caso não tenha nenhuma resposta. \nRegra 2 - Antes de enviar aviso de notificação certifique que na coluna \"Link Enviado?\" esteja nulo ou não. Caso positivo não envia.r",
        "documentId": {
          "__rl": true,
          "value": "1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg",
          "mode": "list",
          "cachedResultName": "Qualificacao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $('Edit Fields2').item.json.telefone_pessoal }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        500,
        100
      ],
      "id": "566c8005-9a90-4568-ba4a-c97e5911e654",
      "name": "Google_Sheets_Verificar_Questionario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSAEXXxkPy9z6CDU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        720
      ],
      "id": "12a6a06b-9793-4dbf-94f0-f9228a50d83e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "=Use essa tool para envia para o lead o link de agendamento ou reagendamento para consulta com Dr. Cesar. ",
        "method": "POST",
        "url": "https://evo.vibemkt.online/message/sendText/vibemkt",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Edit Fields2').item.json.telefone_pessoal }}"
            },
            {
              "name": "text",
              "valueProvider": "fieldValue",
              "value": "={{ $('Edit Fields2').item.json.username }} agendar seu horário ficou mais fácil e rápido! 😉\n\nAcesse o link abaixo e escolha o dia e horário que melhor se encaixam na sua agenda. Em poucos cliques, seu agendamento estará confirmado:\n\nhttps://calendar.app.google/EUpkXYcRAXvSZqdS9"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1260,
        960
      ],
      "id": "cb49da43-ead7-413c-98ce-99443977250c",
      "name": "Link_Agendamento"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=**Prompt da IA Validadora de Saída para Ma-IA**  Analise a saída da Ma-IA e verifique se obedeceu a todas as regras.  **Regras Fundamentais de Validação (Instruções Obrigatórias):**  1. **Substituição de Termos:**    - **Verificar se a palavra “questionário” não foi utilizada.** Caso tenha sido utilizada, substituir por “anamnese” ou “ficha de anamnese”.  Nunca, jamais informe algo tipo \"A próxima anamnese que preciso saber é:\" pois anamnese já é um questionário para o paciente.  2. **Referências às Perguntas:**    - **Verificar se não há menção a números de perguntas** (em formato numérico, emojis ou referências explícitas), exceto na Quarta e Quinta Pergunta, onde é permitido referenciar nas opções de escolha esses emojis numero e dinheiro (1️⃣ e 💰) nas opções de escolha.   - Exemplo correto de saída (para Quarta e Quinta Perguntas):     - [Pergunta4]= \"Por favor, indique qual formato de acompanhamento considera mais adequado para você:\"       1) Consulta Individual Mensal tradicional com o Dr. Cesar Paulino       2) Acompanhamento Semanal de dieta e treinos     - [Pergunta5] = \"Para finalizarmos esta etapa, por favor, indique a sua disposição de investimento mensal para alcançar seus objetivos de corpo e saúde até o final de 2025, superando as dificuldades atuais:\"       💰 Não tenho condições financeiras para investir no momento.       💰 R$300/mês       💰 R$500/mês       💰 R$700/mês  3. **Cumprimento das Regras:**    - **Se qualquer uma das regras acima for violada, a resposta é considerada inválida e deve ser corrigida.**  A saída deve conter **apenas o texto corrigido** e a tool `Aviso_de_Erros` **DEVE SER ATIVADA.** A saída deve conter **apenas o texto corrigido**, sem mensagens adicionais ou identificação de correção.    - **Se todas as regras forem cumpridas, repetir a mesma mensagem da saída original.**  **Formato da Saída:**  A saída deve ser **exclusivamente o texto validado e corrigido (se necessário)**, sem qualquer outra informação ou mensagem adicional da IA de Validadora. "
            },
            {
              "message": "=A saída deve conter **apenas o texto corrigido** e a tool `Aviso_de_Erros` **DEVE SER ATIVADA.** A saída deve conter **apenas o texto corrigido**, sem mensagens adicionais ou identificação de correção.    \n- **Se todas as regras forem cumpridas, repetir a mesma mensagem da saída original.**  **Formato da Saída:**  A saída deve ser **exclusivamente o texto validado e corrigido (se necessário)**, sem qualquer outra informação ou mensagem adicional da IA de Validadora. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        720,
        440
      ],
      "id": "474aebc1-5ea3-443f-89a3-118a94fea0f4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1560,
        120
      ],
      "id": "ba0ff52a-e437-4b23-a58c-db73edf0f30e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VvSBtppr6SIGlHRJ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg",
          "mode": "list",
          "cachedResultName": "Qualificacao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.telefone_pessoal }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3220,
        680
      ],
      "id": "a1a17197-426d-4b04-a2ae-732b594d0e70",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSAEXXxkPy9z6CDU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f57e750b-7c6d-480e-a987-68d4bd54bd09",
              "leftValue": "={{ $json.ID }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3000,
        680
      ],
      "id": "95e529e8-250e-4c7d-9a40-9e483f05e6cf",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg",
          "mode": "list",
          "cachedResultName": "Qualificacao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Id8W65UE-TGqi4E-w-5Tp9Nj_L67i2sBHvVvsMC43Lg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Edit Fields2').item.json.telefone_pessoal }}",
            "Data_inicio_interacao": "={{ $('Edit Fields2').item.json.time }}",
            "Nome": "={{ $('Edit Fields2').item.json.username }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data_inicio_interacao",
              "displayName": "Data_inicio_interacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FinalizouQuestionario",
              "displayName": "FinalizouQuestionario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta1",
              "displayName": "Pergunta1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta2",
              "displayName": "Pergunta2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta3",
              "displayName": "Pergunta3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta4",
              "displayName": "Pergunta4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta5",
              "displayName": "Pergunta5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualificado?",
              "displayName": "Qualificado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Enviado?",
              "displayName": "Link Enviado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2700,
        860
      ],
      "id": "3c43f94b-656e-4e0b-9087-9165f616e774",
      "name": "Criar_ID_Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kSAEXXxkPy9z6CDU",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.vibemkt.online",
            "user-agent": "axios/1.7.9",
            "content-length": "956",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.vibemkt.online",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "fb9baa4899eb",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "vibemkt",
            "data": {
              "key": {
                "remoteJid": "556282577123@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB048F3701A9BC71ADB0B"
              },
              "pushName": "Brendo Galvani",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "avançar",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "dRumpPP1lI0OdA==",
                    "senderTimestamp": "1739379755",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "hYJqJJ5IfRVF7A==",
                    "recipientTimestamp": "1739379341"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "dRIAUTL3NlmqxcXq/OYnOVTtPa6ykljBnnPS/Tfh/vY="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1739390004,
              "instanceId": "d134c1ad-b026-4cfc-be2d-4efea1d0224d",
              "source": "web"
            },
            "destination": "https://webhook.vibemkt.online/webhook/EgZjaHJvbWUqDQgBEAAYgwEYsQMYgAQy",
            "date_time": "2025-02-12T16:53:24.875Z",
            "sender": "556185253774@s.whatsapp.net",
            "server_url": "https://evo.vibemkt.online",
            "apikey": "ADCA5E45AEA7-49D8-AE42-281670FCFEEA"
          },
          "webhookUrl": "https://webhook.vibemkt.online/webhook/EgZjaHJvbWUqDQgBEAAYgwEYsQMYgAQy",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde texto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Responde texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde imagem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde pdf": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde vídeo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aviso_de_Agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Sheets_Verificar_Questionario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Link_Agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar_ID_Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_ID_Lead": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80db4104-8588-4f51-881e-337b79fca7e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "148e60518d4d4a458cb7f8a564b7a8b6d660fbe9ed03de5e94d73c4e9b75a9ba"
  },
  "id": "9ObgQU6DzAo8b6H2",
  "tags": [
    {
      "createdAt": "2025-02-12T07:13:21.902Z",
      "updatedAt": "2025-02-12T07:13:21.902Z",
      "id": "3OS4EH8mgsamVpyL",
      "name": "Agendamento"
    },
    {
      "createdAt": "2025-02-12T07:13:21.915Z",
      "updatedAt": "2025-02-12T07:13:21.915Z",
      "id": "iYsj1NyDK2LWYNfQ",
      "name": "Protótipo"
    }
  ]
}